.options {
  height: 100%;
  width: max-content;
  padding-right: 10px;
  padding-left: 20px;
  display: none;
  align-items: center;
  position: absolute;
  top: 0;
  right: 45px;
  background-color: var(--mainFon);

  &.open {
    display: flex;
  }

  &__form {
    margin-right: 15px;
    display: flex;
    column-gap: 5px;

    button {
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      background-color: var(--contrastColor);
      color: #ffffff;
      cursor: pointer;
      transition: background 0.2s linear 0s;

      &:hover {
        background-color: var(--contrastHover);
      }
    }
  }

  &__del {
    width: 23px;
    height: 23px;
    position: relative;
    cursor: pointer;
  }
}
