.modal {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;

  &.active {
    display: flex;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1f1f1f;
    opacity: 0.6;
  }

  &__form {
    width: 430px;
    padding: 30px;
    margin-top: 20vh;
    text-align: center;
    border-radius: var(--navigationRadius);
    background-color: var(--modalBackground);
    color: var(--primaryColor);
    z-index: 10;

    @media (max-width: 540px) {
      width: 290px;
    }

    &_title {
      margin-bottom: 35px;
      font-size: 20px;
      font-weight: 600;

      @media (max-width: 540px) {
        margin-bottom: 15px;
      }
    }

    &_input {
      font-size: 16px;

      label {
        display: inline-block;

        input {
          margin-left: 15px;
          padding: 15px 20px;
          font-family: inherit;
          font-size: 15px;
          border: 1px solid var(--modalBorder);
          border-radius: var(--navigationRadius);
          background-color: var(--modalInput);
          outline: none;

          @media (max-width: 540px) {
            margin-left: 0;
            padding: 10px 15px;
          }
        }
      }
    }
  }

  &__buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    column-gap: 15px;

    @media (max-width: 540px) {
      margin-top: 25px;
    }
  
    button {
      width: 150px;
      padding: 15px 20px;
      font-family: inherit;
      font-size: 14px;
      font-weight: 600;
      background-color: var(--contrastColor);
      border-radius: var(--navigationRadius);
      border: none;
      color: #ffffff;
      cursor: pointer;
      transition: background 0.2s linear 0s;
  
      &:hover {
        background-color: var(--contrastHover);
      }
    }
  }

  &__error {
    width: 70%;
    margin-left: auto;
    padding-right: 25px;
    padding-top: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--contrastColor);
  }
}
