body {
  --backgroundImage: url(../assets/images/dark-fon.jpg);
  --mainFon: #ECF3F5;
  --mainBorder: #ECF3F5;
  --primaryColor: #000000;
  --contrastColor: #f1514f;
  --contrastHover: #f1514f;
  --modalBackground: #FFFFFF;
  --modalBorder: rgb(148, 148, 148);
  --navigationRadius: 10px;
}

body .dark {
  --backgroundImage: url(../assets/images/light-fon.jpg);
  --mainFon: #1f1f1f;
  --mainBorder: #1f1f1f;
  --primaryColor: #FFFFFF;
  --contrastColor: #009bee;
  --contrastHover: #1aadfc;
}