.container {
  height: 100%;
  max-width: 1400px;
  margin: auto;
  position: relative;
  padding: 35px 20px;
  display: flex;
  border: 1px solid var(--mainBorder);
  border-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--mainFon);
    border-radius: 20px;
    opacity: 0.5;
    z-index: 1;
  }
}
