.popup {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;

  &.active {
    display: flex;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: darkgray;
    opacity: 0.4;
  }

  &__body {
    width: 360px;
    padding: 20px;
    margin-top: 20%;
    border: 1px solid darkgray;
    border-radius: 10px;
    background-color: #ffffff;
    z-index: 10;
    text-align: center;

    p {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}

.wrapper {
  display: inline-block;
  margin-left: 15px;

  input {
    padding: 7px 10px;
    border: 1px solid darkgray;
    border-radius: 5px;
    outline: none;
  }
}

.buttons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  column-gap: 15px;

  button {
    padding: 10px 15px;
    background-color: rgb(0, 177, 24);
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer;

    &:hover {
      background-color: rgb(1, 162, 22);
    }
  }
}