.popup {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;

  &.active {
    display: flex;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1f1f1f;
    opacity: 0.6;
  }

  &__body {
    width: 430px;
    padding: 30px;
    margin-top: 15%;
    text-align: center;
    border-radius: 10px;
    background-color: var(--modalBackground);
    color: var(--primaryColor);
    z-index: 10;

    p {
      margin-bottom: 35px;
      font-size: 20px;
      font-weight: 600;
    }

    div {
      font-size: 16px;
    }
  }
}

.wrapper {
  display: inline-block;
  margin-left: 15px;

  input {
    padding: 15px 20px;
    font-family: inherit;
    font-size: 15px;
    border: 1px solid var(--modalBorder);
    border-radius: 10px;
    outline: none;
  }
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  column-gap: 15px;

  button {
    width: 150px;
    padding: 15px 20px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--contrastColor);
    border-radius: 10px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: background 0.2s linear 0s;

    &:hover {
      background-color: var(--contrastHover);
    }
  }
}