.header {
  min-height: 70px;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  background: var(--headerFon);

  &__search {
    width: 25px;
    height: 24px;
    cursor: pointer;
  }

  &__switch {
    width: 115px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--switcherFon);
    border-radius: 10px;
    cursor: pointer;

    div {
      padding: 10px;
      height: 100%;
      position: absolute;
      vertical-align: middle;
      text-align: center;
      border-radius: 10px;
    }

    &_toggle {
      width: 55%;
      left: 0;
      background-color: var(--switcherToggle);
      box-shadow: var(--switcherShadow);
      transition: left 0.2s linear 0s;

      &.darkMode {
        left: 54px;
      }
    }

    &_icon {
      right: 10px;

      &.darkMode {
        right: 67px;
      }
    }
  }
}
