.hint {
  width: max-content;
  padding: 3px 5px;
  display: inline-block;
  position: absolute;
  top: -40px;
  right: -9px;
  border: 1px solid var(--contrastColor);
  border-radius: 5px;
  background-color: var(--mainFon);

  &__arrow {
    position: absolute;
    bottom: -9px;
    right: 7px;
    display: block;
    width: 16px;
    height: 0.5rem;
    margin: 0 0.3rem;

    &::before, &::after {
      position: absolute;
      display: block;
      content: "";
      border-color: transparent;
      border-style: solid;
    }

    &::before {
      bottom: 0;
      border-top-color: var(--contrastColor);
      border-width: 0.5rem 0.5rem 0;
    }

    &::after {
      border-width: 0.5rem 0.5rem 0;
      bottom: 1px;
      border-top-color: var(--mainFon);
    }
  }

  &__text {
    font-size: 12px;
  }
}