.mail {
  margin-bottom: 30px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  border-bottom: 1px solid darkgray;
  cursor: pointer;

  div {
    &:nth-child(1) {
      width: 20%;
    }

    &:nth-child(2) {
      width: 55%;
    }

    &:nth-child(3) {
      width: 25%;
    }
  }
}