.mail {
  font-size: 14px;
  line-height: 20px;
  background-color: var(--mainFon);
  border-radius: 15px;

  &__link {
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    text-decoration: none;
    border-radius: 15px;
    color: inherit;

    span {
      &:nth-child(1) {
        width: 20%;
      }
  
      &:nth-child(2) {
        width: 55%;
      }
  
      &:nth-child(3) {
        width: 25%;
        text-align: center;
      }
    }
  }
}