.item {
  margin-bottom: 5px;
  position: relative;
  border-radius: var(--navigationRadius);
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--mainFon);
    border-radius: var(--navigationRadius);
    opacity: 0.5;
    z-index: -1;
  }

  &__link {
    padding: 13px 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: var(--navigationRadius);
    color: inherit;
    text-decoration: none;

    span {
      width: 15px;
      transform: rotate(90deg);
      transition: transform 0.2s linear 0s;
  
      &.transform {
        transform: rotate(180deg);
        transition: transform 0.2s linear 0s;
      }
  
      &.modal {
        width: 15px;
        margin-left: auto;
      }
    }
  }

  &__userFolder {
    padding-bottom: 10px;
    list-style-type: none;
  }
}

.active {
  background-color: var(--mainFon);
}

.show {
  display: block;
}

.hide {
  display: none;
}