.tag {
  padding: 3px 7px;
  display: inline-block;
  position: absolute;
  top: -7px;
  left: -4px;
  border-radius: 5px;
  background-color: var(--contrastColor);
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 600;
}