.search {
  min-width: 250px;
  max-width: 400px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  column-gap: 15px;
  color: #FFFFFF;

  &__input {
    width: 100%;
    display: none;

    &.open {
      display: block;
    }

    input {
      width: 100%;
      padding: 10px 15px;
      font-family: inherit;
      font-size: inherit;
      border-radius: var(--navigationRadius);
      background-color: var(--mainFon);
      border: none;
      outline: none;
      color: var(--primaryColor);

      @media (max-width: 450px) {
        font-size: 12px;
      }
    }
  }

  &__icon {
    width: 25px;
    height: 24px;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      color: var(--contrastHover);
    }
  }

  .open + &__icon {
    color: var(--contrastHover);
  }
}